<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Смяна на парола</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Начало
                    </a>
                </li>
                <li>Смяна на парола</li>
            </ul>
        </div>
    </div>
</div>


<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="login-form">
                    <h2>Смяна на парола</h2>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="passwordForm">
                        <div class="form-group">
                            <label>Стара парола</label>
                            <input class="form-control" placeholder="Стара парола" name="oldPassword" formControlName="oldPassword" type="password" autocomplete="off">
                            <div *ngIf="changePasswordForm.controls['oldPassword']?.touched">
                                <div *ngIf="changePasswordForm.controls['oldPassword']?.errors" style="color: red">
                                    Моля, въведете старата си парола.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Нова парола</label>
                            <input class="form-control" placeholder="Нова парола" name="newPassword" formControlName="newPassword" type="password" autocomplete="off">
                            <div *ngIf="changePasswordForm.controls['newPassword']?.touched">
                                <div *ngIf="changePasswordForm.controls['newPassword']?.errors" style="color: red">
                                    Моля, въведете нова парола.
                                </div>
                            </div>
                        </div>
                        <button class="submit-btn" type="submit">Смени парола</button>
                        <a *ngIf="passwordChanged && !errorMessage" style="margin-bottom: 20px; margin-top: 20px; font-size: larger; color: green; display: flex;">Паролата е сменена успешно!</a>
                        <a *ngIf="errorMessage" style="margin-bottom: 20px; margin-top: 20px; font-size: larger; color: red; display: flex;">Възникна проблем. Моля, въведете правилна стара парола!</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

