<div class="banner-area">
    <div class="container">
        <div class="banner-content">
            <h1>Търсиш спортен треньор? <br>Намери перфектния за теб!</h1>
        </div>
    </div>
    <div class="banner-shapes">
        <div class="shape1">
            <img src="assets/images/banner/barbell.png" style="width: 80px; opacity: 0.5;" alt="user">
        </div>
        <div class="shape2">
            <img src="assets/images/banner/fitball.png" style="width: 80px; opacity: 0.3;" alt="shape">
        </div>
        <div class="shape4">
            <img src="assets/images/banner/medal.png" style="width: 100px; opacity: 0.5;" alt="shape">
        </div>
        <div class="shape5">
            <img src="assets/images/banner/ping-pong.png" style="width: 80px; opacity: 0.3;" alt="shape">
        </div>
        <div class="shape6">
            <img src="assets/images/banner/push-up.png" style="width: 60px; opacity: 0.5;" alt="shape">
        </div>
        <div class="shape7">
            <img src="assets/images/banner/running.png" style="width: 80px; opacity: 0.3;" alt="shape">
        </div>
        <div class="shape8">
            <img src="assets/images/banner/sport%20(1).png" style="width: 80px; opacity: 0.3;" alt="user">
        </div>
        <div class="shape10">
            <img src="assets/images/banner/trophy.png" style="width: 120px; opacity: 0.5;" alt="shape">
        </div>
    </div>
</div>
