<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Blog Grid</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Blog Grid</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img1.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 14, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to Make a Perfect CV That Attracts the Attention</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img2.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Marketing</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 13, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 03 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">Marketing to Get the Job You Want Within 72 Days</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img3.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 12, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">Your Social Media Accounts Will be Your New CV</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img4.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 11, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">11 Tips to Help You Get New Clients Through Cold Calling</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img5.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Marketing</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 10, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 03 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to “Woo” a Recruiter and Land Your Dream Job</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img6.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 09, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">Hey Job Seeker, It’s Time To Get Up And Get Hired</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img7.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 08, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">Freelance Content Copywriter and Blogging Babas</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img8.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Marketing</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 07, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 03 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">Blog Writing with Experience in Copywriting and SEO</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img9.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 06, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">Writers Needed with Experience of Portable Generators</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img10.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 05, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">How Our Customers Drive Innovation at Jend</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img11.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Marketing</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 04, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 03 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">How Project Catalog Makes it Easier to Get Work Started</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img12.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/blog" class="tag">Job Board</a>
                        <ul class="meta">
                            <li>
                                <i class="ri-time-line"></i> Sep 03, 2022
                            </li>
                            <li>
                                <i class="ri-mail-line"></i> 02 Comments
                            </li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to Build a Successful SEO Career in USA 2022</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <div class="nav-links">
                        <a routerLink="/blog" class="prev page-numbers"><i class="ri-arrow-left-s-line"></i></a>
                        <span class="page-numbers current">1</span>
                        <a routerLink="/blog" class="page-numbers">2</a>
                        <a routerLink="/blog" class="page-numbers">3</a>
                        <a routerLink="/blog" class="page-numbers">4</a>
                        <a routerLink="/blog" class="next page-numbers"><i class="ri-arrow-right-s-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>