<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="job-card">
            <div class="job-image">
                <img src="assets/images/job/job1.jpg" alt="job-image">
            </div>
            <h3>Product Designer</h3>
            <span class="location">by <a routerLink="/">Technology IT</a> in Brooklyn, NY</span>
            <ul class="job-sub-content">
                <li class="time">Full Time</li>
                <li class="freelance">Freelance</li>
                <li class="urgent">Urgent</li>
            </ul>
            <div class="d-md-flex align-items-center justify-content-between">
                <div class="last-date">Last Date: October 7, 2022</div>
                <a routerLink="/profile-authentication" class="default-btn">Apply Now</a>
            </div>
            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
        </div>
    </div>
</div>

<!-- Jobs Details -->
<div class="job-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="job-details-desc">
                    <h4>Job Description:</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate <strong>elementum</strong>. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus ands placerat maecenas egestas <a routerLink="/">ullamcorper</a> sed nunc. Vitae egestas tellus amet nulla something loss pellentesque placerat maecenas egestas ullamcorper sed nunc.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare <strong>venenatis</strong> proin ac varius ut. Vitae egestas tellus amet nulla cursus in that. Pellentesque placerat maecenas egestas ullamcorper sed sarinto.</p>
                    <h4>Responsabilities</h4>
                    <ul>
                        <li>Capable to handle subordinates leading, monitoring, and reporting to the management.</li>
                        <li>70% work time for marketing & sales.</li>
                        <li>Energetic in search for new projects, and new channels to get sales orders.</li>
                        <li>30% work time for project support and implementation.</li>
                        <li>The candidate must have good computer literacy. (Microsoft Office Application)</li>
                        <li>Satisfactory communications skills in English.</li>
                        <li>Good manner, appearance, polite & capable of customer handling.</li>
                        <li>Communication through e-mail, Fax, and other communication tools.</li>
                        <li>Report to manager/ management.</li>
                        <li>Other activities & tasks when required by the Manager/Management.</li>
                    </ul>
                    <h4>Requirements</h4>
                    <ul>
                        <li>Bachelor of Business Administration (BBA), Bachelor in Engineering (BEngg) in BSc Engineering (Electrical/Mechanical)</li>
                        <li>From any public/ reputed private University/ College.</li>
                        <li>Skills Required: Have good knowlede on using Microsoft Office</li>
                        <li>Age 30 to 35 years</li>
                        <li>Only males are allowed to apply</li>
                        <li>7 to 10 years (s)</li>
                    </ul>
                    <h4>Skills</h4>
                    <ul>
                        <li>Programming experience developing web applications with the Microsoft .NET stack and a basic knowledge of SQL</li>
                        <li>Development experience with Angular, Node.JS, or ColdFusion</li>
                        <li>HTML, CSS, XHTML, XML</li>
                        <li>Hypervisors, SAN’s, load balancers, firewalls, and Web Application Firewall (WAF)</li>
                        <li>Experience with Higher Logic (a collaboration platform)</li>
                        <li>MongoDB, Drupal</li>
                        <li>Mobile App Development (iOS and Android)</li>
                        <li>Episerver CMS</li>
                        <li>Microsoft Team Foundation Server</li>
                        <li>Speaker Management System (Planstone)</li>
                    </ul>
                    <div class="btn-box">
                        <a routerLink="/profile-authentication" class="default-btn">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="job-details-sidebar">
                    <div class="widget-item">
                        <ul class="features-list">
                            <li>
                                <span>Experience</span>
                                Min 1 year
                            </li>
                            <li>
                                <span>Work Level</span>
                                Entry-Level
                            </li>
                            <li>
                                <span>Employment Type</span>
                                Part Time
                            </li>
                            <li>
                                <span>Salary</span>
                                20k-40k / year
                            </li>
                        </ul>
                    </div>
                    <div class="widget-item">
                        <div class="job-company">
                            <img src="assets/images/job/job1.jpg" alt="job-image">
                            <div class="title">
                                <h4>Technology IT</h4>
                                <a href="#">View profile</a>
                            </div>
                        </div>
                        <ul class="features-list">
                            <li>
                                <span>Industry</span>
                                Customer Service
                            </li>
                            <li>
                                <span>Company size</span>
                                178 employees
                            </li>
                            <li>
                                <span>Founded in</span>
                                2011
                            </li>
                            <li>
                                <span>Phone</span>
                                <a href="tel:(123)4567890">(123) 456 7890</a>
                            </li>
                            <li>
                                <span>Email</span>
                                <a href="tel:hello@jend.com">hello@jend.com</a>
                            </li>
                            <li>
                                <span>Location</span>
                                Brooklyn, NY
                            </li>
                            <li>
                                <span>Website</span>
                                <a href="#" target="_blank">https://jend.com</a>
                            </li>
                            <li>
                                <span>Follow us</span>
                                <ul class="social-link">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>