<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Профил</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Начало
                    </a>
                </li>
                <li>Профил</li>
            </ul>
        </div>
    </div>
</div>

<div class="company-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">

            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="company-details-sidebar" style="align-content: center">
                <div class="widget-item">
                    <div class="job-company">
                        <img src="assets/images/users/user.png" alt="user-image">
                        <div class="title">
                            <h4>{{currentUser.firstName}} {{currentUser.lastName}}</h4>
                        </div>
                    </div>
                    <ul class="features-list">
                        <li>
                            <div *ngIf="currentUser.trainer" class="company-details-desc">
                                <h4>Описание</h4>
                                <div [innerHTML]="currentTrainerInfo.about | htmldecoder"></div>
                            </div>
                        </li>
                        <li>
                            <span>Имейл</span>
                            <a>{{currentUser.email}}</a>
                        </li>
                        <li *ngIf="currentUser.trainer">
                            <span>Телефон</span>
                            {{currentTrainerInfo.telephone}}
                        </li>
                        <li *ngIf="currentUser.trainer">
                            <span>Населено място</span>
                            {{currentTrainerInfo.town}}
                        </li>
                        <li *ngIf="currentUser.trainer">
                            <span>Години опит</span>
                            {{currentTrainerInfo.experience}} years
                        </li>
                        <li *ngIf="currentUser.trainer">
                            <span>Тип на тренировка</span>
                            {{currentTrainerInfo.typeOfTraining}}
                        </li>
                        <li *ngIf="currentUser.trainer">
                            <span>Сертификати</span>
                            {{currentTrainerInfo.certifications}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--&lt;!&ndash; Jobs &ndash;&gt;-->
<!--<div class="jobs-area pb-75">-->
<!--    <div class="container">-->
<!--        <div class="section-title">-->
<!--            <h2>Available Jobs</h2>-->
<!--            <div class="bar ms-auto me-auto"></div>-->
<!--            <p class="ms-auto me-auto">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p>-->
<!--        </div>-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-6 col-sm-6 col-md-6">-->
<!--                <div class="job-card">-->
<!--                    <div class="content">-->
<!--                        <div class="job-image">-->
<!--                            <a routerLink="/job-details">-->
<!--                                <img src="assets/images/job/job1.jpg" alt="job-image">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <h3><a routerLink="/job-details">Product Designer</a></h3>-->
<!--                        <ul class="job-list1">-->
<!--                            <li><i class="ri-briefcase-line"></i> Design</li>-->
<!--                            <li><i class="ri-time-line"></i> 2 Week Ago</li>-->
<!--                        </ul>-->
<!--                        <span><i class="ri-map-pin-line"></i> 305 Hicks St Brooklyn, NY</span>-->
<!--                    </div>-->
<!--                    <div class="job-sub-content">-->
<!--                        <ul class="job-list2">-->
<!--                            <li class="time">Full Time</li>-->
<!--                            <li class="freelance">Freelance</li>-->
<!--                            <li class="urgent">Urgent</li>-->
<!--                        </ul>-->
<!--                        <div class="price">$150 - $180 <span>/Per Week</span></div>-->
<!--                    </div>-->
<!--                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 col-sm-6 col-md-6">-->
<!--                <div class="job-card">-->
<!--                    <div class="content">-->
<!--                        <div class="job-image">-->
<!--                            <a routerLink="/job-details">-->
<!--                                <img src="assets/images/job/job2.jpg" alt="job-image">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <h3><a routerLink="/job-details">Creative Director</a></h3>-->
<!--                        <ul class="job-list1">-->
<!--                            <li><i class="ri-briefcase-line"></i> Automotive Jobs</li>-->
<!--                            <li><i class="ri-time-line"></i> 2 Hour Ago</li>-->
<!--                        </ul>-->
<!--                        <span><i class="ri-map-pin-line"></i> 105 San Antonio, TX</span>-->
<!--                    </div>-->
<!--                    <div class="job-sub-content">-->
<!--                        <ul class="job-list2">-->
<!--                            <li class="time">Full Time</li>-->
<!--                            <li class="freelance">Freelance</li>-->
<!--                        </ul>-->
<!--                        <div class="price">$120 - $140 <span>/Per Week</span></div>-->
<!--                    </div>-->
<!--                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
