<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <div class="row">
                        <div class="col-6">
                            <img src="assets/images/about-img1.jpg" alt="about-image">
                        </div>
                        <div class="col-6">
                            <img src="assets/images/about-img2.png" alt="about-image">
                        </div>
                        <div class="join-section">
                            <p>Станете част от нашата платформа</p>
                            <p>Регистрирайте се сега, за да откриете идеалния треньор и да постигнете успех във вашите спортни усилия!</p>
                            <a href="/register" class="btn">Регистрация</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2>Кои сме ние?</h2>
                        <div class="bar"></div>
                        <div class="welcome-section">
                            <p>Ние предоставяме възможност на спортуващите клиенти, които имат нужда от треньор, да намерят своя перфектен треньор бързо и лесно, според своите критерии. Регистрирайте се сега, за да разгледате профилите на треньорите и да откриете идеалния за вас!</p>
                            <p>Можете да резервирате час при избрания треньор и да започнете вашето спортно пътешествие. Ако сте треньор и желаете да бъдете част от нашата платформа, регистрирайте се и добавете своята информация. Ние се грижим за създаването на връзката между клиенти и треньори.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>