<div class="container">
    <div *ngIf="!sent" class="input-container">
        <div class="input">
            <div class="inputbox">
                <div class="form-group">
                    <textarea type="text" class="reviewinp" placeholder="Напиши отзив" formControlName="review" id="review" (change)="getReview($event)"></textarea>
                </div>
            </div>
            <form>
                <div class="rating form-group">
                    <input type='radio' hidden name='rate' id='5' data-idx='0' (change)="onChange($event)">
                    <label for='5'><span>Един/една от най-добрите!</span></label>

                    <input type='radio' hidden name='rate' id='4' data-idx='1' (change)="onChange($event)">
                    <label for='4'><span>Невероятен/а</span></label>

                    <input type='radio' hidden name='rate' id='3' data-idx='2' (change)="onChange($event)">
                    <label for='3'><span>Много добре</span></label>

                    <input type='radio' hidden name='rate' id='2' data-idx='3' (change)="onChange($event)">
                    <label for='2'><span>Има какво да се желае</span></label>

                    <input type='radio' hidden name='rate' id='1' data-idx='4' (change)="onChange($event)">
                    <label for='1'><span>Не си губете времето...</span></label>
                </div>
            </form>
            <div class="submitbtn">
                <button class="submit" (click)="sendReview()">Изпрати</button>
            </div>
        </div>
    </div>
    <div *ngIf="sent">
        <h2  class="success-message">Твоят отзив беше добавен успешно!</h2>
    </div>
</div>
