<!-- Page Title -->
<div class="banner-area">
    <div class="container">
        <div class="banner-content">
            <h1>Търсиш спортен треньор? <br>Намери перфектния за теб!</h1>
            <div class="banner-form">
                <form>
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="form-group">
                                <input id="name" class="form-control" type="text" placeholder="Име или фамалия на треньор" (input)="setFilterData($event)">
                                <i class="ri-search-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <form class="example-form form-group">
                                <i class="ri-map-pin-line"></i>
                                <mat-form-field class="example-full-width cities-dropdown">
                                    <mat-label>Населено място</mat-label>
                                    <input type="text"
                                           placeholder="Start typing..."
                                           aria-label="Number"
                                           matInput
                                           [formControl]="myControl"
                                           [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setFilterData($event)">
                                        <mat-option  id="location" *ngFor="let city of filteredCities | async" [value]="city.city">
                                            {{ city.city }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <select id="category" class="form-select form-control" (change)="setFilterData($event)">
                                    <option value="" disabled selected>Категория</option>
                                    <option *ngFor="let sport of sports" value="{{sport}}">{{sport}}</option>
                                </select>
                                <i class="ri-list-check-2"></i>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <button type="submit" class="submit-btn" (click)="filter()">Намери треньор</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="banner-shapes">
        <div class="shape1">
            <img src="assets/images/banner/barbell.png" style="width: 80px; opacity: 0.5;" alt="user">
        </div>
        <div class="shape2">
            <img src="assets/images/banner/fitball.png" style="width: 80px; opacity: 0.3;" alt="shape">
        </div>
        <div class="shape4">
            <img src="assets/images/banner/medal.png" style="width: 100px; opacity: 0.5;" alt="shape">
        </div>
        <div class="shape5">
            <img src="assets/images/banner/ping-pong.png" style="width: 80px; opacity: 0.3;" alt="shape">
        </div>
        <div class="shape6">
            <img src="assets/images/banner/push-up.png" style="width: 60px; opacity: 0.5;" alt="shape">
        </div>
        <div class="shape7">
            <img src="assets/images/banner/running.png" style="width: 80px; opacity: 0.3;" alt="shape">
        </div>
        <div class="shape8">
            <img src="assets/images/banner/sport%20(1).png" style="width: 80px; opacity: 0.3;" alt="user">
        </div>
        <div class="shape10">
            <img src="assets/images/banner/trophy.png" style="width: 120px; opacity: 0.5;" alt="shape">
        </div>
    </div>
</div>

<div class="jobs-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="jend-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-5 result-count">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-7 ordering">
                        <div class="select-box">
                            <label>Подреди по:</label>
                            <select style="width: 250px;" (change)="handleSortChange($event)">
                                <option value="Default">Подразбиране</option>
                                <option value="Latest">Най-скорошни</option>
                                <option value="Price: low to high">Цена: от ниска към висока</option>
                                <option value="Price: high to low">Цена: от висока към ниска</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="trainersData!=undefined">
                    <div class="row" *ngFor="let trainer of filterData">
                        <div class="col-lg-12 col-sm-6 col-md-6" (click)="toTrainerProfile(trainer.userId.id)">
                            <div class="job-card">
                                <div class="content">
                                    <div class="job-image">
                                        <a routerLink="/job-details">
                                            <img src="assets/images/job/job1.jpg" alt="job-image">
                                        </a>
                                    </div>
                                    <h3><a routerLink="/job-details"></a>{{trainer.userId.firstName}} {{trainer.userId.lastName}}</h3>
                                    <ul class="job-list1">
                                        <li><i class="ri-menu-unfold-fill"></i>{{trainer.category}}</li>
                                        <li><i class="ri-time-line"></i>{{ trainer.timeSinceCreation }}</li>
                                    </ul>
                                    <span><i class="ri-map-pin-line"></i>{{trainer.town}}</span>
                                </div>
                                <div class="job-sub-content">
                                    <ul class="job-list2">
                                        <li class="time">{{trainer.typeOfTraining}}</li>
                                    </ul>
                                    <div *ngIf="trainer.price!==null" class="price">{{trainer.price}}<span> лв. /на час</span></div>
                                </div>
                                <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="job-listings-sidebar">
                    <h4>Допълнителни критерии</h4>
                    <div class="widget-item">
                        <div class="form-group">
                            <h3>Тип на тренировка</h3>
                            <select id="typeOfTraining" class="form-select" (change)="setFilterData($event)">
                                <option value="" selected>Всички</option>
                                <option value="лично">Обучение на живо</option>
                                <option value="онлайн">Онлайн обучение</option>
                            </select>
                        </div>
                    </div>
                    <div class="widget-item">
                        <div class="form-group">
                            <h3>Пол на треньора</h3>
                            <select id="gender" class="form-select" (change)="setFilterData($event)">
                                <option value="" selected>Всички</option>
                                <option value="жена">Жена</option>
                                <option value="мъж">Мъж</option>
                            </select>
                        </div>
                    </div>
                    <div class="widget-item">
                        <div class="form-group">
                            <h3>Рейтинг</h3>
                            <select id="rating" class="form-select" (change)="setFilterData($event)">
                                <option value="" selected>Всички</option>
                                <option value="1">*</option>
                                <option value="2">**</option>
                                <option value="3">***</option>
                                <option value="4">****</option>
                                <option value="5">*****</option>
                            </select>
                        </div>
                    </div>
                    <div class="widget-item">
                        <div class="form-group">
                            <h3>Заплащане (на час)</h3>
                            <div style="display: flex; justify-content: center;">
                                <input id="minPrice" style="width: 150px; margin-right: 10px;" type="text" class="form-control" placeholder="Минимално" (change)="setFilterData($event)">
                                <input id="maxPrice" style="width: 150px;" type="text" class="form-control" placeholder="Максимално" (change)="setFilterData($event)">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="button-wrapper">
                            <button type="submit" class="submit-btn" (click)="filter()">Филтрирай</button>
                        </div>
                        <div class="button-wrapper">
                            <button type="submit" class="submit-btn" style="background-color: #ce8483" (click)="clearFilters()">Изчисти филтрите</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
