<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Company Listing</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Company Listing</li>
            </ul>
        </div>
    </div>
</div>

<!-- Company Area -->
<div class="company-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Registered Top Company</h2>
            <div class="bar ms-auto me-auto"></div>
            <p class="ms-auto me-auto">We collect reviews from our users so you can get an honest opinion of what an experience with our website is really like!</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img1.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Technology IT</a></h3>
                    <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (40)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img2.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Code Agency</a></h3>
                    <p><i class="ri-map-pin-line"></i> New York</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (20)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img3.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Gradient House</a></h3>
                    <p><i class="ri-map-pin-line"></i> Dallas, TX</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (45)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img4.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">99 Code</a></h3>
                    <p><i class="ri-map-pin-line"></i> Huston, TX</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (15)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img5.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Theme Desk</a></h3>
                    <p><i class="ri-map-pin-line"></i> Atlanta, GA</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (45)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img6.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Nixon</a></h3>
                    <p><i class="ri-map-pin-line"></i> New York</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (40)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img7.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Jaint Mart</a></h3>
                    <p><i class="ri-map-pin-line"></i> Dallas, TX</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (60)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img8.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Silkom Tech</a></h3>
                    <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (20)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img9.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Encoders Unlimited</a></h3>
                    <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (40)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img10.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Omega Mobile Co.</a></h3>
                    <p><i class="ri-map-pin-line"></i> New York</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (20)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img11.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Interstellar Software</a></h3>
                    <p><i class="ri-map-pin-line"></i> Dallas, TX</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (45)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img12.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Farley Technology</a></h3>
                    <p><i class="ri-map-pin-line"></i> Huston, TX</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (15)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img13.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Software Giant</a></h3>
                    <p><i class="ri-map-pin-line"></i> Atlanta, GA</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (45)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img14.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Parallax Programmers</a></h3>
                    <p><i class="ri-map-pin-line"></i> New York</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (40)</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="company-card">
                    <img src="assets/images/company/company-img15.jpg" alt="company-image">
                    <h3><a routerLink="/company-details">Nerdware</a></h3>
                    <p><i class="ri-map-pin-line"></i> Dallas, TX</p>
                    <a routerLink="/company-details" class="company-btn">Open Jobs - (60)</a>
                </div>
            </div>
        </div>
    </div>
</div>