<footer class="footer-area">
    <div class="container">
        <div class="pt-100 pb-75">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-5 col-sm-12 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a routerLink="/">
<!--                                <img src="assets/images/logo.png" alt="logo">-->
                            </a>
                        </div>
                        <ul class="footer-contact-list">
                            <li>
                                <i class="ri-map-pin-line"></i>
                                <a href="https://goo.gl/maps/muUSCY6FnusqhrGK9" target="_blank">j.k. Malinova Dolina 4, 1756 Sofia</a>
                            </li>
                            <li>
                                <i class="ri-mail-line"></i>
                                <a href="mailto:hello@jend.com">a.dachkinova@gmail.com</a>
                            </li>
                            <li>
                                <i class="ri-phone-line"></i>
                                <a href="tel:+4471234567890">+359 89 886 4870</a>
                            </li>
                        </ul>
                    </div>
                </div>
<!--                <div class="col-xl-2 col-lg-3 col-sm-6 col-md-6">-->
<!--                    <div class="footer-widget">-->
<!--                        <h3>For Employer</h3>-->
<!--                        <ul class="footer-list">-->
<!--                            <li>-->
<!--                                <a routerLink="/candidates">-->
<!--                                    Browse Candidates-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/">-->
<!--                                    Employer Dashboard-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/job-listings">-->
<!--                                    Job Packages-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/job-listings">-->
<!--                                    Jobs Featured-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/post-a-job">-->
<!--                                    Post A Job-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xl-3 col-lg-4 col-sm-6 col-md-4">-->
<!--                    <div class="footer-widget ps-5">-->
<!--                        <h3>For Candidates</h3>-->
<!--                        <ul class="footer-list">-->
<!--                            <li>-->
<!--                                <a routerLink="/job-listings">-->
<!--                                    Browse Jobs-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/">-->
<!--                                    Submit Resume-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/">-->
<!--                                    Candidate Dashboard-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/job-listings">-->
<!--                                    Browse Categories-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/candidates">-->
<!--                                    Candidates Listing-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-xl-2 col-lg-4 col-sm-6 col-md-4">
                    <div class="footer-widget">
                        <h3>Company</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/about">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/contact">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/terms-condition">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li>
                                <a routerLink="/privacy-policy">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
<!--                <div class="col-xl-2 col-lg-4 col-sm-6 col-md-4">-->
<!--                    <div class="footer-widget">-->
<!--                        <h3>Quick Links</h3>-->
<!--                        <ul class="footer-list">-->
<!--                            <li>-->
<!--                                <a routerLink="/about">-->
<!--                                    About Us-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/blog">-->
<!--                                    Blog-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/faq">-->
<!--                                    FAQs-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/contact">-->
<!--                                    Contact Us-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a routerLink="/not-found">-->
<!--                                    404 Erro Page-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</footer>
