<!-- Page Title -->
<div class="inner-banner" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Добави информация за себе си</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Начало
                    </a>
                </li>
                <li>Добави информация</li>
            </ul>
        </div>
    </div>
</div>
<!-- Post A Job -->
<div class="post-a-job-area ptb-100" *ngIf="clickedButton==false && clickedButtonToPayment==false">
    <div class="container">
        <div class="post-a-job-form">

            <form [formGroup]="formData">
                <div class="row">
                    <!--                    <div class="col-lg-12 col-md-12">-->
                    <!--                        <div class="form-group">-->
                    <!--                            <label>Job Title <span>*</span></label>-->
                    <!--                            <input type="text" class="form-control">-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Описание <span>*</span></label>
                            <div class="NgxEditor__Wrapper">
                                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Добави описание за себе си'" formControlName="about" required></ngx-editor>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Категория <span>*</span></label>
                            <select class="form-select" (change)="changeCategory($event)">
                                <option value="" disabled selected>Категория</option>
                                <option *ngFor="let sport of sports" value="{{sport}}">{{sport}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group" (change)="changeTypeOfTraining($event)">
                            <label>Тип на тренировка <span>*</span></label>
                            <select class="form-select" formControlName="typeOfTraining" required>
                                <option value="" disabled selected>Тип на тренировка</option>
                                <option value="лично">Лично</option>
                                <option value="онлайн">Онлайн</option>.
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Пол <span>*</span></label>
                            <select class="form-select" (change)="changeGender($event)">
                                <option value="select" disabled selected>Пол</option>
                                <option value="жена">Жена</option>
                                <option value="мъж">Мъж</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Години опит <span>*</span></label>
                            <input type="text" class="form-control" placeholder="Години опит" formControlName="experience" id="experience" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Телефон <span>*</span></label>
                            <input type="text" class="form-control" placeholder="Телефон" formControlName="telephone" id="telephone" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Сертификати <span>*</span></label>
                            <input type="text" class="form-control" placeholder="Сертификати" formControlName="certifications" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Град <span>*</span></label>
                            <select class="form-select" (change)="changeCity($event)">
                                <option value="" disabled selected>Град</option>
                                <option *ngFor="let city of cities" value="{{city.city}}">{{city.city}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Заплащане на час в лева<span>*</span></label>
                            <input type="text" class="form-control" placeholder="Заплащане в лева" formControlName="price" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                    <label>Добави снимки към своя профил:<span>*</span></label>
                    <!--                    <div class="col-lg-12 col-md-12">-->
                    <!--                        <div class="form-group">-->
                    <!--                            <label>Images <span>*</span></label>-->
                    <!--                            <input type="file" id="img" name="img" accept="image/*">-->
                    <!--                            -->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <app-file-upload></app-file-upload>
                    <p>Максимален размер на файла: 2 MB</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn" (click)="nextButton()">Продължаване и преглед</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Trainer Details -->
<div class="candidate-details-area pt-100 pb-sm-45" *ngIf="clickedButton==true && clickedButtonToPayment==false">
    <div class="container">
        <div class="row" style="justify-content: center">
            <div class="col-lg-3 col-md-12">
                <div class="candidate-details-sidebar">
                    <div class="profile">
                        <img src="assets/images/candidates/candidate7.jpg" class="main-image" alt="candidates-image">
                        <div class="title">
                            <h3>{{currentUser.firstName}} {{currentUser.lastName}}</h3>
                        </div>
                        <p>Спортен треньор</p>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <ul class="social-icon">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h3>Контакти</h3>
                        <ul>
                            <li>
                                <span>Пол</span>
                                {{this.gender}}
                            </li>
                            <li>
                                <span>Град</span>
                                <a href="https://www.google.bg/maps/place/Sofia/@42.6953468,23.1838624,11z/data=!3m1!4b1!4m6!3m5!1s0x40aa8682cb317bf5:0x400a01269bf5e60!8m2!3d42.6977082!4d23.3218675!16zL20vMGZ0ang?hl=en&authuser=0"
                                   target="_blank">{{this.city}}</a>
                            </li>
                            <li>
                                <span>Имейл</span>
                                <a href="mailto:hello@henry.com">{{currentUser.email}}</a>
                            </li>
                            <li>
                                <span>Телефон</span>
                                <a href="">{{this.formData.controls.telephone.value}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="candidate-details-desc">
                    <h4>Описание</h4>
                    <div [innerHTML]="this.formData.controls.about.value | htmldecoder"></div>
                    <hr>
                    <h4>Снимки</h4>
                    <div class="row" style="justify-content: center">

                        <div *ngFor="let image of imageInfos | async" class="col-lg-4 col-sm-4 col-md-4">
                            <div class="image">
                                <img src="{{ image.url }}" alt="{{ image.name }}" height="80px"/>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h3>Години опит</h3>
                    <p>{{this.formData.controls.experience.value}}</p>
                    <hr>
                    <h3>Категория</h3>
                    <ul class="candidate-skills">
                        <li>{{this.category}}</li>
                    </ul>
                    <hr>
                    <h3>Тип на тренировка</h3>
                    <ul class="candidate-skills">
                        <li>{{this.formData.controls.typeOfTraining.value}}</li>
                    </ul>
                    <h3>Заплащане на час</h3>
                    <ul class="candidate-skills">
                        <li>{{this.formData.controls.price.value}} BGN</li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="button-wrapper" *ngIf="clickedButton==true">
    <div class="col-lg-3 col-md-3">
        <button type="submit" class="submit-btn" (click)="goBackToEdit()">Редактирай профила си</button>
    </div>
    <div class="col-lg-3 col-md-3">
        <button type="submit" class="submit-btn" (click)="postTrainerInformation()">Изпрати</button>
    </div>
</div>


